!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %body
      %h1
        Welcome to Ye Olde Shoppe!
      %p
        You have successfully signed up to Ye Olde Shoppe,
        your username is: #{@user.email}.
        %br
      %p
        Thanks for joining and have a great day!
