textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(249, 145, 6, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 145, 6, 0.6);
  outline: 0 none;
}

.form-control:focus {
  border-color: rgba(249, 145, 6, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 145, 6, 0.6);
  outline: 0 none;
}

.notice {
  font-size: 18px;
  color: #e58c33;
  font-style: italic;
}

.alert {
  font-size: 18px;
  color: red;
  font-style: italic;
}

.success, .error {
  font-size: 18px;
  color: #5cb85c;
  font-style: italic;
  margin-top: -25px;
  margin-bottom: 10px;
}

.error{
  color: red;
  margin-top: -40px;
  margin-bottom: 30px;
}

body {
  padding-top: 70px;
}

.navbar-default {
  border: none;
  background-color: rgba(255, 255, 255, .98)
}

.product-button {
  margin: 29px -20px 0;
}

.btn-primary-2 {
  color: #ffffff;
  border-radius: 0 0 5px 5px !important;
  width: 100%;
}

.btn-primary, .btn-primary-2 {
  background-color: #e58c33;
  border-color: #f19833;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary-2:hover,
.btn-primary-2:active:hover,
.btn-primary-2.active:hover {
  color: #ffffff;
  background-color: #f19833;
  border-color: #e58c33;
}

.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f19833;
  border-color: #e58c33;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #f19833;
  border-color: #e58c33;
}

.btn-primary:active:focus,
.btn-primary.active:focus {
  color: #ffffff;
  background-color: #f19833;
  border-color: #e58c33;
}

.table > tbody > tr > td {
  height: 60px;
  vertical-align: middle;
}

td.admin-image img {
  width: 50px;
  height: auto;
}

.description-center {
  margin-top: 60px;
}

.edit-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-center {
  margin-top: 60px;
}

.update-button {
  margin-top: 35px;
}

.index-product {
  margin-bottom: 30px;
}

.index-description {
  height: 80px;
}

.btn-one {
  margin-right: 45px;
}

.btn-two {
  margin-right: 15px;
}

.index-header {
  margin-bottom: 50px;
}

.product-box {
  padding: 10px 20px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  height: 465px;
}

div.product-box:hover {
  cursor: pointer;
}

div.product-box:hover div.index-price {
  width: 110px;
  height: 110px;
  margin-top: -41px;
}

.product-box h4 {
  height: 40px;
}

.product-box img {
  margin-top: -100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -21px;
  width: 255px;
  height: 250px;
}

.index-edit {
  margin-top: -35px;
}

.index-price {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin-top: -31px;
  margin-left: 134px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(45deg, rgba(255,255,255,0) 50%, #5cb85c 50%);
}

.index-price h2 {
  padding-top: 10px;
  padding-right: 10px;
  color: #ffffff;
}

.index-dollar {
  font-size: 18px;
  margin-right: -4px;
}

.add-button-text {
  font-family: inherit;
  font-size: 14px;
}

.error-messages {
  color: red;
  font-style: italic;
}

.index-qty {
  font-weight: bold;
  font-size: 1.25em;
}

.index-categories {

}

.sign-in {
  padding: 0 30px 30px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}

#sign-in-button {
  margin: 15px 0;
}

.product-page-header {
  margin-top: 75px;
}

.product-page-desc {
  margin-top: 50px;
  font-size: 1.25em;
}

.product-page-price {
  font-size: 4em;
}

.product-page-image img {
  width: 400px;
  height: auto;
}

.navbar-brand img {
  width: 85px;
  height: auto;
}

.signed-in {
  position: absolute;
  right: 250px;
}

.macrabz {
  width: 50%;
}

.macrabz-admin {
  width: 30%;
}

.admin-buttons {
  margin-top: -50px;
  margin-right: 30px;
}

td.clickable-row:hover {
  cursor: pointer;
}

.product-dollar {
  top: -20px;
  margin-right: -5px;
  font-size: 28px;
}

.header-cart .badge {
  position: absolute;
  right: 425px;
  background-color: #e58c33;
}

.header-cart img {
  position: absolute;
  top: 10px;
  right: 460px;
  width: 29px;
  heigth: auto;
  vertical-align: middle;
}

.dropdown ul ul {
  list-style: none;
}

.dropdown ul ul {
  width: 472px;
}

.order-qty {
  width: 65px;
  text-align: right;
}

.order-delete {
  color: #e58c33;
  font-size: 18px;
}

a.order-delete:hover {
  color: #f19833;
  cursor: pointer;
}

.checkout-image {
  width: 30%;
  height: auto;
}

.order-checkout {

}

button#dropdownCategories.btn.btn-default.dropdown-toggle {
  width: 100%;
  text-align: right;
}

div.mutliSelect {
  width: 100%;
}

.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.product-button button {
  border-radius-top-left: 0 !important;
  border-radius-top-right: 0 !important;
}

.modal-header-image {
  width: 150px;
  margin: 17px 5px 10px;
}

@media (max-width: 1199px) {
  .index-price {
    margin-left: 162px;
  }

  .product-box img {
    width: 283px;
  }
}

@media (max-width: 991px) {
  .product-box {
    width: 325px;
  }

  .index-price {
    margin-left: 204px;
  }

  .product-box img {
    width: 325px;
  }
}


@media (max-width: 767px) {
  .signed-in {
    position: absolute;
    top: 0;
    right: 100px;
  }

  .product-box {
    width: 400px;
  }

  .index-price {
    margin-left: 279px;
  }

  .product-box img {
    width: 250px;
    height: 250px;
    margin-left: -20px;
    margin-top: -100px;
  }

  .header-cart .badge {
    position: absolute;
    vertical-align: middle;
    top: 15px;
    right: 275px;
    background-color: #e58c33;
  }

  .header-cart img {
    position: absolute;
    top: 10px;
    right: 310px;
    width: 29px;
    heigth: auto;
    vertical-align: middle;
  }

  .navbar {
    height: 50px;
  }
}